.atmosphere-section {
  @include media(desktop) {
  }
}

.atmosphere-bg-wrapper {
  padding-top: 64px;
  padding-bottom: 64px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 80px;
    padding-bottom: 80px;
    max-width: 1440px;
  }
}

.atmosphere-container {
  @include media(desktop) {
  }
}

.atmosphere-content-wrapper {
  @include media(desktop) {
    max-width: 640px;
  }
}

.atmosphere-title {
  @include media(desktop) {
  }
}

.atmosphere-subtitle {
  @include media(desktop) {
    max-width: 470px;
  }
}

.atmosphere-text {
  font-family: 'Cormorant Garamond', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: -0.02em;
  text-align: center;
  color: #bbb;

  @include media(desktop) {
    font-size: 20px;
  }
}
