.interaction-atmosphere-bg-wrapper {
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/interaction/interaction-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  @include media(desktop) {
    max-width: 1440px;
    background-image: url(../img/interaction/interaction-bg-desk.jpg);
  }
}

.interaction-section {
  @include media(desktop) {
  }
}

.interaction-bg-wrapper {
  padding-top: 64px;
  padding-bottom: 64px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 80px;
    padding-bottom: 80px;
    max-width: 1440px;
  }
}

.interaction-container {
  @include media(desktop) {
  }
}

.interaction-content-wrapper {
  @include media(desktop) {
    max-width: 640px;
    margin-left: auto;
  }
}

.interaction-title {
  @include media(desktop) {
  }
}

.interaction-subtitle {
  @include media(desktop) {
    max-width: 470px;
  }
}

.interaction-text {
  font-family: 'Cormorant Garamond', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: -0.02em;
  text-align: center;
  color: #bbb;

  @include media(desktop) {
    font-size: 20px;
  }
}
