<section class="section atmosphere-section" id="atmosphere">
  <div class="atmosphere-bg-wrapper">
    <div class="container atmosphere-container">
      <div class="atmosphere-content-wrapper">
        <div class="section-title-wrapper environment-title-wrapper">
          <h2 class="section-title">Atmosphere & Tone</h2>
          <p class="section-subtitle environment-subtitle">
            Visuals are desaturated, sound design is minimal, and nothing
            competes for attention.
          </p>
        </div>
        <p class="atmosphere-text">
          The emotional tone is:<br />
          Calm but introspective<br />
          Slightly melancholic<br />
          Safe, yet emotionally open
        </p>
      </div>
    </div>
  </div>
</section>
