<section class="section contact-section" id="contact">
  <div class="contact-bg-wrapper">
    <div class="container contact-container">
      <div class="contact-content-wrapper">
        <div class="section-title-wrapper contact-title-wrapper">
          <h2 class="section-title">Contact</h2>
          <p class="section-subtitle contact-subtitle">
            Support and inquiries:
          </p>
        </div>
        <a href="mailto:info@silentzone.online" class="contact-link">
          info@silentzone.online
        </a>
      </div>
    </div>
  </div>
</section>
