<section class="section environment-section" id="environment">
  <div class="environment-bg-wrapper">
    <div class="container environment-container">
      <div class="environment-content-wrapper">
        <div class="section-title-wrapper environment-title-wrapper">
          <h2 class="section-title">Environment Design</h2>
          <p class="section-subtitle environment-subtitle">
            The rooms feel personal, maybe a bit unsettling, but they're not
            trying to scare you.
          </p>
        </div>
        <ul class="environment-list">
          <li class="environment-list-item">
            <svg class="environment-icon" width="52" height="52">
              <use href="./img/sprite.svg#icon-layers"></use>
            </svg>
            <p class="environment-item-text">
              Minimalist rooms with shifting layouts
            </p>
          </li>
          <li class="environment-list-item">
            <svg class="environment-icon" width="52" height="52">
              <use href="./img/sprite.svg#icon-tower"></use>
            </svg>
            <p class="environment-item-text">
              Make thoughtful, logic-driven decisions — timing matters more than
              speed
            </p>
          </li>
          <li class="environment-list-item">
            <svg class="environment-icon" width="52" height="52">
              <use href="./img/sprite.svg#icon-arrow"></use>
            </svg>
            <p class="environment-item-text">
              Plan ahead to avoid blocking future options
            </p>
          </li>
          <li class="environment-list-item">
            <svg class="environment-icon" width="52" height="52">
              <use href="./img/sprite.svg#icon-whirl"></use>
            </svg>
            <p class="environment-item-text">
              Progress through objectives and unlock new mechanics as the game
              evolves
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
