<section class="section faq-section" id="faq">
  <div class="faq-bg-wrapper">
    <div class="container faq-container">
      <div class="faq-content-wrapper">
        <h2 class="section-title faq-title">FAQ</h2>
        <ul class="faq-list">
          <li class="faq-list-item">
            <button class="faq-top-text-btn">
              <span class="faq-btn-text"
                >Is Stillroom a story-driven game?</span
              >
              <span class="faq-toggle-symbol"
                ><svg class="faq-icon" width="24" height="24">
                  <use href="./img/sprite.svg#icon-plus"></use></svg
              ></span>
            </button>
            <p class="faq-bottom-text">
              The story's in the rooms themselves - no one's gonna spell it out
              for you.
            </p>
          </li>
          <li class="faq-list-item">
            <button class="faq-top-text-btn">
              <span class="faq-btn-text">Are there puzzles or challenges?</span>
              <span class="faq-toggle-symbol"
                ><svg class="faq-icon" width="24" height="24">
                  <use href="./img/sprite.svg#icon-plus"></use></svg
              ></span>
            </button>
            <p class="faq-bottom-text">
              No traditional puzzles — meaning emerges through observation.
            </p>
          </li>
          <li class="faq-list-item">
            <button class="faq-top-text-btn">
              <span class="faq-btn-text">Can I play casually?</span>
              <span class="faq-toggle-symbol"
                ><svg class="faq-icon" width="24" height="24">
                  <use href="./img/sprite.svg#icon-plus"></use></svg
              ></span>
            </button>
            <p class="faq-bottom-text">
              Yes. Sessions can last minutes or hour.
            </p>
          </li>
          <li class="faq-list-item">
            <button class="faq-top-text-btn">
              <span class="faq-btn-text">Is there a correct way to play?</span>
              <span class="faq-toggle-symbol"
                ><svg class="faq-icon" width="24" height="24">
                  <use href="./img/sprite.svg#icon-plus"></use></svg
              ></span>
            </button>
            <p class="faq-bottom-text">
              No. The experience adapts to your behavior.
            </p>
          </li>
          <li class="faq-list-item">
            <button class="faq-top-text-btn">
              <span class="faq-btn-text">Does the game have sound?</span>
              <span class="faq-toggle-symbol"
                ><svg class="faq-icon" width="24" height="24">
                  <use href="./img/sprite.svg#icon-plus"></use></svg
              ></span>
            </button>
            <p class="faq-bottom-text">
              Yes, but silence plays an equally important role.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
