<section class="section hero-section" id="home">
  <div class="hero-bg-wrapper">
    <div class="container hero-container">
      <div class="hero-content-wrapper">
        <div class="hero-text-wrapper">
          <p class="hero-subtitle">
            You have to actually pay attention for anything to happen.
          </p>
          <p class="hero-text">
            It's about quiet spaces and the stuff you notice when you're not
            rushing around.
          </p>
        </div>
        <h1 class="hero-main-title">Stillroom</h1>
      </div>
    </div>
  </div>
</section>
