<div class="context-menu">
  <div class="container context-container">
    <nav class="context-nav">
      <ul class="context-nav-list">
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#home">Home</a>
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#experience"
            >Experience</a
          >
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#environment"
            >Environment</a
          >
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#interaction"
            >Interaction</a
          >
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#atmosphere"
            >Atmosphere</a
          >
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#gallery"
            >Visual Atmosphere</a
          >
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#faq">FAQ</a>
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#contact">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
